body {
   font-family: 'Poppins', sans-serif;
   background-color: #f8f9fa;
 }
.fsss {
  font-size: 3.1rem !important;
}
.fss{
  font-size: 1.2rem;
}
 .back{
   background: url('./images/form_bg.jpg') no-repeat center center/cover;
 }
 .vvv{
  font-size: 20px;
  font-weight: 700;
  padding-left: 3rem;
 }
 .uuu{
  font-size:18px ;
  padding-left: 10px;
 }
.jjkk{
  transform: rotate(15deg);
}
.kkkk{
  margin-left: 30px;
}
.heading{
  margin-top: 1rem;
  width: 70%;
  margin-left: 1rem;
}
.kk img{
  width: 95vw;
}
:root {
  --primary-red: #990000;
  --dark-gray: #838483;
  --light-gray: #f8f9fa;
}

.gry-container h2 {
  font-size: 1.5625rem;
  margin-bottom: 1.25rem;
}

.highlights {
  color: var(--primary-red);
  font-weight: bold;
}

.box-1 {
  margin-bottom: 0.9375rem;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.3);
  border-left: 0.8rem solid;
  border-image: linear-gradient(to bottom, #8f1917, #7d0f0e, #6c0204) 0 0 0 1;
}

.box-12 {
  background: gray;
  color: #fff;
  padding: 0.625rem 0.9375rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.box-12 h3 {
  margin: 0 0 0.625rem;
  font-size: 1.23rem;
}

.box-12 a {
  align-self: flex-end;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.9375rem;
}

.box-12 a:hover {
  background: #ccc;
  color: #000;
  padding: 0.125rem 0.25rem;
  border-radius: 0.1875rem;
}

.learn-more {
  font-weight: bold;
  font-size: 1.3rem;
  padding-bottom: 3.125rem;
  margin-top: 1.25rem;
}

.red {
  color: var(--primary-red);
  font-size: 1.3rem;
}
.menu-links div {
  text-align: center;
  margin-bottom: 0.3125rem;
  font-size: 1.25rem;
  font-weight: bolder;
  opacity: 0.7;
  color: #3d3838;
}


.bold {
  font-weight: 700;
}

.red {
  color: var(--primary-red);
  font-weight: 700;
  font-size: 1.3rem;
}

.Middle {
  border-left: 2px solid gray;
  border-right: 2px solid gray;
}
.shad {
  width: 100%;
  height: 10px;
}
.shad img {
  width: 100%;
  height: 100%;
}

.law {
  border-bottom: 2px solid gray;
}
.highlight {
  color: var(--primary-red);
  font-weight: 700;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
}
 @media (min-width: 320px)and (max-width: 768px) {
  
  .col{
    margin-top: 1.3rem !important;
  }
  .fsss{
    font-size: 1.5rem !important;
  }
  .ab{
     width: 0 !important;
   
  }
  .cd{
    width: 0 !important;
  }
  .praa{
    font-size: 1.5rem !important;
  }
  .bot{
    width: 110px !important;
  }
  .menu-links{
    margin-bottom: 1rem;
  }
    .ms-5{
    margin-left: 0rem !important;
  }
  .mn{
    padding-right: 3.5rem !important;
  }
  .bot{
    display: flex !important;
    flex-direction: row !important;
  }
  .bott{
    margin-right: 1rem !important;
    margin-top: 2rem !important;
  }
  .ppp{
    padding-right: 3rem;
  }
}
@media (min-width: 768px)and (max-width : 769px){
    .nnn{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-left: 8rem;
  }


  
}
  
@media (min-width: 769px) and (max-width: 1024px){
  .bot{
    width: 130px !important;
  }
  .ms-5{
    margin-left: 0rem !important;
  }
  .nnn{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-left: 8rem;
  }
  .kkk{
    display: flex;
    margin-top: 2rem;
  }
  .okk{
    padding-left: 2rem;
  }
  .lll{
    margin-top: 2rem;
  }

  }
 
  
  

